In [1]:
import numpy as np
from urllib import request
import gzip
import pickle

filename = [
["training_images","train-images-idx3-ubyte.gz"],
["test_images","t10k-images-idx3-ubyte.gz"],
["training_labels","train-labels-idx1-ubyte.gz"],
["test_labels","t10k-labels-idx1-ubyte.gz"]
]

def download_mnist():
    base_url = "http://yann.lecun.com/exdb/mnist/"
    for name in filename:
        print("Downloading "+name[1]+"...")
        request.urlretrieve(base_url+name[1], name[1])
    print("Download complete.")

def save_mnist():
    mnist = {}
    for name in filename[:2]:
        with gzip.open(name[1], 'rb') as f:
            mnist[name[0]] = np.frombuffer(f.read(), np.uint8, offset=16).reshape(-1,28*28)
    for name in filename[-2:]:
        with gzip.open(name[1], 'rb') as f:
            mnist[name[0]] = np.frombuffer(f.read(), np.uint8, offset=8)
    with open("mnist.pkl", 'wb') as f:
        pickle.dump(mnist,f)
    print("Save complete.")

def init():
    download_mnist()
    save_mnist()

def load():
    with open("mnist.pkl",'rb') as f:
        mnist = pickle.load(f)
    return mnist["training_images"], mnist["training_labels"], mnist["test_images"], mnist["test_labels"]

if __name__ == '__main__':
    init()

Downloading train-images-idx3-ubyte.gz...
Downloading t10k-images-idx3-ubyte.gz...
Downloading train-labels-idx1-ubyte.gz...
Downloading t10k-labels-idx1-ubyte.gz...
Download complete.
Save complete.

In [2]:
x_train, t_train, x_test, t_test = load()

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame()
df['Images'] = [i for i in x_train]
df['Labels'] = [i for i in t_train]

In [5]:
df.to_csv('mnist.csv', index=False)

In [6]:
df2=pd.read_csv('mnist.csv')

In [7]:
df2

                                                  Images  Labels
0      [  0   0   0   0   0   0   0   0   0   0   0  ...       5
1      [  0   0   0   0   0   0   0   0   0   0   0  ...       0
2      [  0   0   0   0   0   0   0   0   0   0   0  ...       4
3      [  0   0   0   0   0   0   0   0   0   0   0  ...       1
4      [  0   0   0   0   0   0   0   0   0   0   0  ...       9
...                                                  ...     ...
59995  [  0   0   0   0   0   0   0   0   0   0   0  ...       8
59996  [  0   0   0   0   0   0   0   0   0   0   0  ...       3
59997  [  0   0   0   0   0   0   0   0   0   0   0  ...       5
59998  [  0   0   0   0   0   0   0   0   0   0   0  ...       6
59999  [  0   0   0   0   0   0   0   0   0   0   0  ...       8

[60000 rows x 2 columns]